@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
@import "./header.css";
@import "./form.css";
:root {
    /* Font sizes and weight */
    --body_font: "Montserrat", sans-serif;
    --h1_font_size: 50px;
    --h2_font_size: 23px;
    --h3_font_size: 19px;
    --h4_font_size: 17px;
    --big_title: 33px;
    --normal_font_size: 0.183rem;
    --small_font_size: 0.813rem;
    --smaller_font_size: 0.75rem;
    --font_medium: 500;
    --font_semi_bold: 600;
    --font_bold: 700;
    /* z index */
    --z_tooltip: 10;
    --z_fixed: 100;
    /* Margins */
    --mb_1: 0.5rem;
    --mb_2: 1rem;
    --mb_3: 1.5rem;
    --mb_4: 2rem;
    --mb_5: 2.5rem;
    --mb_6: 3rem;
    /* colors */
    --header_height: 3rem;
    --first_bg_color: #316fd3;
}

/* Global Settings */

*, ::before, ::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body_font);
    background-color: var(--body_color);
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9faff !important;
    overflow-y: scroll;
}

body.hidden {
    overflow-y: hidden;
}

.bg-blue {
    background-color: #316fd3;
}

.container {
    max-width: 1190px !important;
    /* padding: 0px 26px!important; */
}

button:focus {
    border-color: transparent !important;
    box-shadow: 0 0 0 0 !important;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

ul, ol {
    padding: 0;
    list-style-type: none;
}

a, a:hover {
    text-decoration: none !important;
}

.form-control:focus {
    color: var(--first_bg_color);
    background-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 0 !important;
}

img {
    max-width: 100%;
    height: auto;
}

.heading-1 {
    color: #424242;
    font-size: var(--h2_font_size);
    letter-spacing: 0.4px;
}

.para-1 {
    /* color: #a4a4a4; */
    color: #a4a4a4;
    display: block;
    font-size: 15px;
}

.line-height-1 {
    line-height: 55px;
}

.line-height-2 {
    line-height: 51px;
}

.line-height-3 {
    line-height: 44px;
}

.line-height-4 {
    line-height: 30px;
}

@media screen and (max-width: 786px) {
    :root {
        --h1_font_size: 29px;
        --h2_font_size: 20px;
        --h3_font_size: 18rem;
    }
}

/* ============================== 
           Slider Area     
============================== */

.slider-main {
    background: linear-gradient(90deg, #306fd3 0, #2f6fd3 60%, #5d8fd9);
    /* background: url(/assets/media/search-bg.jpg) no-repeat; */
    background-size: cover;
    padding: 82px 14px 96px;
}

.slide-text {
    padding-top: 0;
}

.slide-text h3 {
    font-size: var(--h1_font_size);
    color: #fff;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}

.slide-text p {
    color: #fff;
    font-size: 18px;
    line-height: 31px;
    letter-spacing: 0.5px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}

.slide-text .btn {
    padding: 13px 30px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-radius: 0;
}

/* ============================== 
     BROWSE JOBS BY SPECIALISMS 
=================================== */

.jobsCategoryList {
    margin-top: 0;
    padding: 60px 0;
    border-top: 0 #e0e0e0 solid;
    border-bottom: 0 #e0e0e0 solid;
}

.jobsCategoryList .para-1 {
    color: #a4a4a4;
    display: block;
    font-size: 15px;
}

.jobsCategoryList .list-group li {
    cursor: pointer;
    background: #fff;
    border: 1px solid #f1f1f1;
    color: #333;
    display: block;
    font-size: 12px;
    font-family: var(--body_font);
    font-weight: 600;
    line-height: 24px;
    margin: 0;
    outline: none;
    padding: 10px 30px 10px 18px;
    position: relative;
    text-decoration: none;
}

.jobsCategoryList .list-group li span {
    color: #999 !important;
    display: block;
    font-size: 12px;
    font-weight: normal;
}

.jobsCategoryList .list-group li a {
    color: #333;
    font-size: 14px;
}

.jobsCategoryList .list-group li::after {
    color: #ccc;
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 21px;
    margin-top: -15px;
    position: absolute;
    right: 11px;
    top: 50%;
}

/* ============================== 
        How Its works 
=================================== */

.how_its_work {
    background: #f9faff;
    padding: 35px 0;
}

.how_its_work .heading-1 {
    font-size: 24px;
}

.h-i-w-content-box {
    /* background-color: rgba(251, 251, 251, 0.9); */
    background-color: #fff;
    padding: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.h-i-w-content-box:hover {
    box-shadow: rgb(0 0 0 / 12%) 0 2px 12px 0;
    cursor: pointer;
}

.h-i-w-content-box h4 {
    font-size: 17px;
    padding: 12px 0 2px;
}

.h-i-w-content-box p {
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    line-height: 25px;
    letter-spacing: 0.6px;
    font-weight: 400;
    color: #808080;
}

/* ===============================
     Recent Jobs Section
 ================================= */

.latest-jobs {
    padding: 35px 0;
}

.job-listings .listing-logo {
    width: 60px;
    min-width: 60px;
    flex-wrap: wrap;
    float: none;
    margin-top: 11px;
}

.listing-logo img {
    border-radius: 3px;
}

.listing-title h4 {
    letter-spacing: 0;
    font-size: 17px;
    line-height: 27px;
    margin-bottom: 5px;
    margin-left: 29px;
    color: #333;
    margin-top: 2px;
}

.job-listings .list:hover {
    background-color: #fafafa;
}

.listing-icons li {
    display: inline-block;
    margin-right: 13px;
    color: grey;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}

.job-listings li a {
    background: #fff;
    display: flex;
    padding: 31px 25px;
    overflow: hidden;
    /* border: 1px solid #e0e0e0; */
    margin-top: -1px;
    width: 100%;
    height: 100%;
}

.listing-types {
    min-width: 209px !important;
    text-align: right;
}

.listing-types .job-type {
    border-radius: 3px;
    font-size: 12px;
    padding: 4px 8px;
    line-height: 18px;
    font-weight: 500;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    min-width: 76px;
    margin: 2px 0 2px 4px;
    background-color: #fff;
}

.job-type.full-time {
    color: #186fc9;
    border: 1px solid #186fc9;
    background-color: rgba(24, 111, 201, 0.07);
}

.job-type.internship {
    color: #e1d123;
    border: 1px solid #e1d123;
    background-color: rgba(225, 209, 35, 0.07);
}

.job-type.temporary {
    color: #e12335;
    border: 1px solid #e12335;
    background-color: rgba(225, 35, 53, 0.07);
}

.job-type.part-time {
    color: #f1630d;
    border: 1px solid #f1630d;
    background-color: rgba(241, 99, 13, 0.07);
}

.job-type.freelancer {
    color: #53b427;
    border: 1px solid #53b427;
    background-color: rgba(83, 180, 39, 0.07);
}

/* Right side Slider jobs  */

.latest-jobs .swiper-container {
    height: auto;
}

.latest-jobs .swiper-container .swiper-slide {
    background: #fff;
    margin-right: 30px;
    /* border: 1px solid #e3e3e3; */
    padding: 24px 23px 32px;
}

.job-title span {
    border-radius: 3px;
    font-size: 12px;
    padding: 4px 8px;
    line-height: 18px;
    font-weight: 500;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    min-width: 76px;
    margin: 2px 0 2px 4px;
}

.swiper-container .job-desc p {
    display: inline-block;
    margin-right: 13px;
    color: grey;
}

.swiper-container .job-desc p.description {
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    line-height: 27px;
    letter-spacing: .6px;
    font-weight: 400;
    color: grey;
}

.job-desc .description {
    margin-bottom: 6px;
    margin-top: 15px;
}

.latest-jobs .apply-btn {
    border-radius: 0;
    padding: 8px 14px;
    letter-spacing: 0.5px;
}

/* ===============================
  Top Hiring Companies Logo slider
================================= */

.top-hiring {
    padding: 50px 0 40px;
}

.hiring-logo {
    min-width: 183.2px;
    background-color: #f4f7fc;
    margin-right: 50px;
    padding: 12px;
    cursor: pointer;
}

.top-hiring .swiper-pagination {
    position: relative;
    top: 2px;
}

/*  =============================== Jobs List Page ================================= */

.top-bg {
    background-image: linear-gradient(90deg, #306fd3 0, #2f6fd3 60%, #5d8fd9);
    text-align: center;
}

.heading-text .row {
    height: 135px;
}

.heading-text h1 {
    font-family: var(--body_font);
    color: #fff;
    font-size: 33px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.job-search-form {
    transform: translateY(-34px);
    padding: 20px 30px 25px 28px !important;
    margin: 0 15px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%);
}

.form-floating input {
    height: 44px;
    border: 0;
    border-bottom: 2px solid var(--first_bg_color);
    border-radius: 0;
}

.job-search-form .fa, .job-search-form .fas {
    position: absolute;
    right: 12px;
    top: 27px;
    color: var(--first_bg_color);
}

.job-search-form .nice-select {
    border: 0;
    border-radius: 0px;
    border-bottom: 2px solid var(--first_bg_color);
    padding: 1rem 0.75rem;
    font-size: 16px;
    font-weight: 400;
    height: 58px;
    line-height: 32px;
}

.nice-select:after {
    border-bottom: 2px solid var(--first_bg_color) !important;
    border-right: 2px solid var(--first_bg_color) !important;
}

.searchJobBtn {
    background-color: var(--first_bg_color);
    background-image: none;
    border: 0 solid #ffffff;
    border-radius: 0 !important;
    color: #fff;
    font-size: 16px !important;
    font-weight: 400;
    min-height: 44px;
    text-transform: uppercase;
    width: 100%;
}

.refine-search .accordion-button:not(.collapsed) {
    color: #000;
    background-color: #fff;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.refine-search .accordion-button {
    padding: 15px 12px !important;
}

.refine-search .accordion-item {
    background-color: #fff;
    border: 0 solid rgba(0, 0, 0, 0.125);
    padding: 5px 0;
    border-radius: 8px;
}

.allJobs .container {
    padding: 0 26px !important;
}

.allJobs .job-listings .list {
    background-color: #fff;
    box-shadow: 0 12px 24px 0 rgb(13 13 13 / 6%);
}

.allJobs .job-listings .list a {
    border: none;
    display: block;
    padding: 31px 21px 19px 0;
}

.allJobs .job-listings .list p {
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    line-height: 27px;
    letter-spacing: .6px;
    font-weight: 400;
    color: grey;
}

.allJobs .job-listings .listing-logo {
    float: right;
}

/*  =============================== SIngle Job Detals Page ================================= */

.details-title {
    background-image: linear-gradient(90deg, #306fd3 0, #2f6fd3 60%, #5d8fd9);
}

.details-title .row {
    text-align: start;
}

.details-title h3 {
    font-family: var(--body_font);
    color: #fff;
    font-size: var(--big_title);
    font-weight: 700;
    letter-spacing: 1.5px;
}

.details-main {
    padding: 65px 0;
}

.detailsText {
    border-radius: 8px !important;
}

.jobDesc .Jobaddress {
    font-size: 14px;
    font-family: var(--body_font);
    letter-spacing: 0.5px;
}

.jobRequirments .head {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.jobRequirments .value {
    font-size: 14px;
    letter-spacing: 0.5px;
    padding-top: 5px;
    font-weight: 400;
    font-family: var(--body_font);
}

.job-description .para-1 {
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.5px;
    font-weight: 400;
    color: rgb(33, 37, 41);
    font-family: var(--body_font);
}

.job-description .heading {
    font-size: 19px;
}

.tagsButtons .button {
    padding: 12px 22px;
    margin-right: 8px;
    margin-bottom: 8px;
    background: #f0f7fa;
    color: var(--first_bg_color);
    font-size: 12px;
    border-radius: 33px;
    letter-spacing: 0.5px;
    font-weight: 500;
    margin-bottom: 10px;
}

.actionButtons {
    margin-top: 30px;
}

.actionButtons button {
    margin-bottom: 12px;
}

.actionButtons .loginButton {
    background-color: var(--first_bg_color);
    box-shadow: 0 2px 4px 0 #abcdde;
    color: #fff;
}

.actionButtons a.button {
    padding: 12px 22px;
    border-radius: 20px;
    margin-right: 10px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
}

.actionButtons a.loginbtn {
    background-color: var(--first_bg_color);
    box-shadow: 0 2px 4px 0 #abcdde;
}

.actionButtons a.registerbtn {
    background-color: #de4d4c;
    box-shadow: 0 2px 4px 0 #f6b6b4;
    color: #fff;
}

.actionButtons a.applybtn {
    box-shadow: 0 2px 4px 0 #abcdde, inset 0 0 0 1px var(--first_bg_color);
    background-color: #fff;
    color: var(--first_bg_color);
}

/* ==== =====  */

.jobOverview {
    background: #fff;
    padding: 26px 30px 30px;
    margin-bottom: 14px;
    border-radius: 8px;
}

.jobOverview h5 {
    font-size: 21px;
    padding-bottom: 12px;
}

.singleOverview {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.metaOverview p {
    font-size: 15px;
    font-weight: 500;
    font-family: var(--body_font);
}

.metaOverview span {
    display: block;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #666666;
}

.jobOverview .icon {
    margin-right: 15px;
}

.jobOverview .icon i {
    background: #fff;
    text-align: center;
    font-size: 28px;
    border: 1px solid #e3e3e3;
    color: var(--first_bg_color);
    width: 45px;
    height: 45px;
    line-height: 45px;
}

/* Suggestion Jobs */

.jobCard:not(:last-child) {
    border-bottom: 1px solid #e3e3e3;
}

.jobCard li a {
    font-size: 12px;
    font-weight: 500;
    font-family: var(--body_font);
}

.jobCard li {
    display: block;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #666666;
    margin-bottom: 2px;
}

.jobCard li span {
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0.83px;
    display: block;
    margin-bottom: 12px;
    font-size: 12px;
    color: #666666;
}

.jobCard li i {
    font-size: 13px;
    margin-right: 12px;
}

.jobCard img {
    position: relative;
    bottom: 98px;
    left: 10px;
}

/* ===============================
Footer 
================================= */

footer {
    background-color: var(--first_bg_color);
    padding: 80px 0 12px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    gap: 16px;
    margin-bottom: 30px;
}

.foter-heading {
    color: #fff;
}

.footer-links li a:not(.foter-heading) {
    color: #fff;
    font-size: 15px;
    line-height: 32px;
}

footer .foter-contact {
    color: #fff;
    letter-spacing: 0.5px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 15px;
}

/* bottom footer links  */

.bottom-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.bottom-menu li:not(:last-child) {
    margin-right: 5px;
    position: relative;
    padding-right: 6px;
}

.bottom-menu li a {
    font-size: 13px;
    font-weight: 400;
    color: #fff;
}

.bottom-menu li a:after {
    content: "";
    display: block;
    width: 1px;
    height: 12px;
    background: #fff;
    position: absolute;
    right: 0;
    top: 8px;
}

/* == copyright Text */

.copyright {
    text-align: center;
}

.copyright-text h5 {
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.5px;
}

@media only screen and (max-width: 991px) {
    .nav-main {
        padding: 0 12px;
    }
    .slide-text p {
        font-size: 14px;
        letter-spacing: 0.7px;
    }
    .job-search-main .search-input, .job-search-main .select-dropdown {
        margin-bottom: 16px;
    }
    .jobSearchSection .row {
        padding: 29px 8px !important;
    }
    .job-listings li a {
        flex-direction: column;
    }
    .listing-icons li {
        display: block;
        margin-left: -35px;
        line-height: 32px;
    }
    .listing-types {
        text-align: left;
        padding: 10px 0;
    }
    .listing-title h4 {
        margin-left: 0;
    }
    .job-listings {
        padding-left: 0;
    }
    .job-listings li a {
        flex-direction: column;
        padding: 31px 23px!important;
    }
    .job-search-form {
        margin: 0 1px;
    }
    .job-search-form .form-floating {
        margin-bottom: 7px;
    }
    .job-search-form .search-btn {
        margin-top: 13px;
    }
}

@media only screen and (max-width: 767px) {
    /* Home Page */
    .job-search-main .row {
        padding: 19px 7px 25px !important;
    }
    /* Job List Page */
    container.job-search {
        padding: 0;
    }
    .job-search-form {
        padding: 19px 22px 25px 17px !important;
    }
    .job-listings {
        padding-left: 0;
    }
    .job-listings li a {
        flex-direction: column;
        padding: 31px 25px !important;
    }
    .heading-1 {
        color: #424242;
        font-weight: 600;
        font-size: 17px;
        letter-spacing: 0.5px;
    }
    .h-i-w-content-box p {
        font-size: 12px;
        line-height: 27px;
        letter-spacing: .8px;
        font-weight: 500;
    }
}

/* .nice-select:after {
    content: "";
    display: block;
    height: 11px!important;
    top: 60%!important;
    width: 11px!important;
} */