.sign-up {
    margin-bottom: 32px;
}

.social-logins a {
    padding: 12px;
    border: 2px solid #bebebe;
    text-align: center;
    border-radius: 43px;
    margin: 15px 0;
    color: #000;
    font-weight: 500;
}

.social-logins a.google:hover {
    color: #000
}

.social-logins a.facebook {
    border: .125rem solid #1877f2;
    color: #1877f2;
}

.social-logins a img {
    position: absolute;
    left: 16px;
    top: 16px;
    width: 20px;
    height: 20px;
}

.social-logins a.facebook img {
    top: 83px;
}

label {
    font-size: 14px;
    letter-spacing: .5px;
    margin-bottom: 5px;
    font-weight: 500;
}

input.form-control {
    padding: 10px;
    border-radius: 0;
    margin-bottom: 22px;
}

button.createAccount {
    width: 100%;
    padding: 11px;
    border-radius: 0px;
    margin-top: 8px;
}