/*----------------------------*\Headermenu For Large Devices\*----------------------------*/

@media only screen and (min-width: 1079px) {
    .nav-menu {
        position: relative;
        text-align: center;
        display: flex;
        transition: 0.6s ease-in-out;
    }
    .navFixed {
        position: fixed;
        z-index: 9999;
        width: 100%;
        box-shadow: 0 8px 34px 2px rgb(91 91 91 / 15%);
    }
    #nav-bottom {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .nav-menu>li>a {
        text-transform: uppercase;
        padding: 14px 15px;
        margin: 0px 4px 0px 0px;
        font-size: 14px;
        color: rgb(117, 117, 117);
        font-weight: 600;
        font-family: Montserrat, sans-serif;
        transition: .3s ease-in-out;
        border-radius: 5px;
    }
    .nav-menu>li>a:hover {
        background-color: #316FD3;
        color: #fff;
    }
    /*----------------------------*\dropdown \*----------------------------*/
    .nav-menu li.has-dropdown {
        position: relative;
    }
    .nav-menu li.has-dropdown>a:after {
        content: "";
        display: block;
        background: url(../media/dropdown-icon.svg) no-repeat;
        width: 10px;
        height: 6px;
        position: absolute;
        top: 10px;
        right: 3px;
    }
    .nav-menu li.has-dropdown>a:hover:after {
        display: none;
    }
    .nav-menu li.has-dropdown>.dropdown {
        position: absolute;
        left: 0;
        top: 53px;
        width: 200px;
        text-align: left;
        z-index: 60;
        -webkit-transform: translateY(10px);
        -ms-transform: translateY(10px);
        transform: translateY(10px);
        opacity: 0;
        visibility: hidden;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
    }
    .nav-menu li.has-dropdown:hover>.dropdown {
        -webkit-transform: translateY(-8px);
        -ms-transform: translateY(-8px);
        transform: translateY(-8px);
        opacity: 1;
        visibility: visible;
    }
    .nav-menu li.has-dropdown>.dropdown .dropdown-body {
        background-color: #fff;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        border-top: 2px solid #1e1aff;
    }
    .dropdown-list {
        padding-left: 0px;
    }
    .dropdown-list li {
        border-bottom: 1px solid #e8eaed;
    }
    .dropdown-list li a {
        display: block;
        padding: 10px;
        line-height: 20px;
        color: rgb(117, 117, 117);
    }
    .dropdown-heading {
        text-transform: uppercase;
        font-size: 14px;
        margin-top: 0px;
        margin-bottom: 10px;
        line-height: 30px;
    }
    button.signInBtn {
        padding: 8px 21px;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 500;
    }
    .fa-bars {
        display: none!important;
    }
}

/* ---------------------------- Header Menu For small devices\*----------------------------*/

@media only screen and (max-width: 1079px) {
    .header-overlay {
        background-color: #00000061;
        position: fixed;
        top: 0;
        bottom: 0;
        bottom: 0;
        z-index: 10;
        width: 100vw;
        height: 100vh;
        display: none;
    }
    #nav-bottom {
        display: flex;
        flex-direction: revert;
        justify-content: space-between;
    }
    .nav-menu {
        position: fixed;
        background: #fff;
        width: 283px;
        height: 100vh;
        top: 0;
        left: -400px;
        z-index: 9999;
        padding: 80px 10px 18px 10px;
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
        transition: 0.5s;
    }
    .nav-menu:before {
        content: "";
        display: block;
        background: url(../media/logo.png) no-repeat;
        background-size: contain;
        width: 215px;
        height: 70px;
        position: absolute;
        top: 20px;
        left: 24px;
    }
    .header-overlay.active {
        display: block;
    }
    .nav-menu li {
        transition: .5s cubic-bezier(0.22, 0.61, 0.36, 1);
        padding: 10px 0px;
        margin: 15px 0px;
        cursor: pointer;
        border-radius: 5px;
    }
    .nav-menu li.active, .nav-menu li:hover {
        background: rgba(17, 17, 255, 0.205);
    }
    .nav-menu li a {
        padding: 8px 10px;
        font-size: 18px;
        color: #000;
    }
    .nav-menu.active {
        left: 0px;
        visibility: visible;
        overflow-y: auto;
    }
    .dropdown {
        display: none;
    }
    button.signInBtn {
        display: none;
    }
    .fa-bars {
        background-color: blue;
        font-size: 25px;
        color: #fff;
        margin-left: 37px;
        margin-right: 11px;
        padding: 10px;
        cursor: pointer;
        z-index: 11;
    }
}